{
  "presets": [
    "latest",
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "transform-object-rest-spread",
    "transform-undefined-to-void",
    "transform-decorators-legacy",
    "transform-class-properties"
  ],
  "sourceMaps": "inline"
}
