.travis.yml
test/*
.editorconfig
.gitignore
.jscsrc
.travis.yml
.git*
.jshint*
.npmignore
.yo-rc.json
.npmrc
CONTRIBUTING.*
CHANGELOG.*
scripts.sh
npm-debug.log
.DS_Store
.eslintrc
*.jsx


example/
test/